*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
a{
    text-decoration: none;
    color: black;
    word-break: break-all;
    transition: all 0.3s;
}
a:hover{
    background: whitesmoke;
}
ul{
    padding: 10px 0 10px 20px;
}
h1{
    margin: 20px 0;
}
#wrapper{
    max-width: 960px;
    padding: 0 2% 40px 2%;
    margin: 0 auto;
}
.date, .header-date{
    float: right;
}
.header{
    overflow: auto;
    clear: left;
    padding-bottom: 5px;
    border-bottom: 5px solid lightgray;
    font-size: 1.2em;
}
.header-txt{
    float: left;
}
#attr{
    width: 100%;
    text-align: right;
    font-size: 0.8em;
    margin-top: 25px;
}
@media screen and (max-width: 960px){
    .date{
        float: none;
        display: block;
    }
    .header-date{
        float: none;
        clear: left;
    }
}