*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px;
}
h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
a{
    text-decoration: none;
    color: black;
    word-break: break-all;
    transition: all 0.3s;
    display: inline-block;
    vertical-align: top;
    max-width: 75%;
}
a:hover{
    background: whitesmoke;
}
ul{
    padding: 10px 0 10px 20px;
}
h1{
    margin: 20px 0;
}
#wrapper{
    max-width: 1080px;
    padding: 0 2% 40px 2%;
    margin: 0 auto;
}
.date, .header-date{
    float: right;
}
.header{
    overflow: auto;
    clear: left;
    padding-bottom: 5px;
    border-bottom: 5px solid lightgray;
    font-size: 1.2em;
}
.header-txt{
    float: left;
}
#attr{
    width: 100%;
    text-align: right;
    font-size: 0.8em;
    margin-top: 25px;
}
@media screen and (max-width: 960px){
    a{
        max-width: 100%;
    }
    ul{
        list-style-type: none;
        padding: 0;
    }
    li{
        border-bottom: 1px solid lightgray;
    }
    li:nth-child(2n){
        background: whitesmoke;
    }
    .date{
        float: none;
        display: block;
    }
    .header-date{
        float: none;
        clear: left;
    }
}