urlset{
    max-width: 960px;
    margin: 10px auto;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
url{
    display: block;
    overflow: auto;
    padding: 5px;
    font-size: 0.9em;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    word-break: break-all;
}
url:nth-child(2n+1){
    background: whitesmoke;
}
url:last-child{
    border-bottom: 1px solid gray;
}
loc{
    float: left;
}
lastmod{
    float: right;
}
@media screen and (max-width: 800px){
    loc, lastmod{
        width: 100%;
        float: left;
    }
}